*{
	margin:0;
	padding:0;
	border:0;
}

body{
	background-color: #555;
}

@font-face{
	font-family: emulogic;
	src: url('emulogic.ttf');
}

.hidden{
	font-family: emulogic;
	visibility: hidden;
	position: absolute;
}
canvas{
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(75, 74, 74);
}